<!-- Products -->
<div class="flex  gap-5">
  <app-product-categories
    class=""
  ></app-product-categories>
  <section class="mt-20 overflow-y-auto" style="max-height: 90vh;">
    <div class="flex gap-5 flex-wrap w-full justify-center">
      @if (isLoadingAllProducts) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track i) {
          <div class="flex flex-col p-4 w-1/4 border rounded shadow">
            <p-skeleton height="200px" class="mb-3"></p-skeleton>
            <p-skeleton width="70%" class="mb-2"></p-skeleton>
            <p-skeleton width="50%" class="mb-2"></p-skeleton>
            <p-skeleton width="40%"></p-skeleton>
          </div>
        }
      } @else {
        @for (product of paginatedProducts(); track product.id) {
         @let quantity = quantitySignals()[product.id] || 1;

          <div class="flex flex-col p-4 w-1/4 border rounded shadow h-auto transition duration-300 ease-in-out transform hover:scale-101">
            @if (product.images.length === 1) {
              <p-image [src]="product.images" alt="Image" [preview]="true" />
            } @else {
              <p-galleria
                [value]="transformToGalleriaFormat(product.images)"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px' }"
                [numVisible]="3"
                [circular]="true"
                class="border-none shadow-none"
              >
                <ng-template #item let-item>
                  <p-image
                    [src]="item.itemImageSrc"
                    style="width: 100%"
                    [preview]="true"
                  />
                </ng-template>
                <ng-template #thumbnail let-item>
                  <!-- eslint-disable-next-line @angular-eslint/template/alt-text -->
                  <img [src]="item.thumbnailImageSrc" style="width: 100%" />
                </ng-template>
              </p-galleria>
            }

            <div class="flex flex-col gap-2 mt-auto">
              <div class="ml-1">
                <p class="text-xl font-semibold">{{ product.title }}</p>
                <div class="flex flex-row gap-3">
                  <p-rating [ngModel]="product.rating" [readonly]="true" />
                  <p>{{ product.reviews.length }} reviews</p>
                </div>
                <div class="flex flex-row">
                  <lucide-icon [img]="PhilippinePeso" class="w-4"></lucide-icon>
                  <p>{{ product.price }}</p>
                </div>
              </div>

              <div class="flex items-center gap-3 my-2">
                <div class="flex items-center border rounded-md">
                  <button
                    type="button"
                    class="p-2 hover:bg-gray-200 disabled:opacity-50 rounded-md"
                    (click)="updateQuantity(product.id, quantity - 1)"
                    [disabled]="quantity <= 1"
                  >
                    <lucide-icon [img]="Minus"></lucide-icon>
                  </button>

                  <input
                    type="number"
                    class="w-16 px-1 text-center border-0 focus-visible:ring-0"
                    min="1"
                    [value]="quantity"
                    (input)="updateQuantity(product.id, $any($event.target).valueAsNumber || 1)"
                  />

                  <button
                    type="button"
                    class="p-2 hover:bg-gray-200 rounded-md"
                    (click)="updateQuantity(product.id, quantity + 1)"
                  >
                    <lucide-icon [img]="Plus"></lucide-icon>
                  </button>
                </div>
              </div>
              <div>
                <button
                (click)="addToCartProduct(product, quantity)"
                  class="flex items-center justify-center w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-103 hover:cursor-pointer focus:outline-none focus:ring-4 focus:ring-blue-300"
                >
                  <!-- Icon on the left -->
                  <i class="fas fa-star mr-3 text-xl">
                    <lucide-icon
                      [img]="ShoppingCart"
                      class="my-icon dark:stroke-white"
                    ></lucide-icon>
                  </i>
                  <!-- Button text -->
                  <span>Add to cart</span>
                </button>
              </div>
            </div>
          </div>
        }
      }
    </div>
    <!-- <div class="flex justify-center">
      <p-paginator
        [rows]="rowsPerPage"
        [totalRecords]="paginatedProducts().length"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div> -->
  </section>
  <app-cart-summary
    class=""
  ></app-cart-summary>
</div>
